include ./badge
include ./badgeSimple
doctype html
html(data-pdm="light dark blue" lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
        meta(charset="utf-8")
        meta(name="description" content="Perfect dark mode, no flicker, framework agnostic.")
        title Perfect Dark Mode
        link(rel="icon" type="image/png" href="images/light.png")
        script(src="perfect-dark-mode/dist/index.js")
        link(rel="stylesheet" href="tailwind.css")
        link(rel="preload" as="font" href="libre-baskerville-latin-700-normal.woff2" type="font/woff2" crossorigin="anonymous")
        link(rel="preload" as="font" href="montserrat-latin-400-normal.woff2" type="font/woff2" crossorigin="anonymous")
        link(rel="preload" as="font" href="montserrat-latin-700-normal.woff2" type="font/woff2" crossorigin="anonymous")

        link(class="codestyle light blue" rel="stylesheet" href="/syntax/prism-base16-ateliersulphurpool.light.css" media="(prefers-color-scheme: light)")
        link(class="codestyle dark" rel="stylesheet" href="/syntax/prism-nord.css" media="(prefers-color-scheme: dark)")

        style
            include ./index.css
    body
        - var outline = ['focus:outline-none focus:shadow-outline']
        div.max-w-2xl.mx-auto.fixed.top-0.right-0.left-0.flex.flew-row.px-3.mt-3.pointer-events-none.top-bar.z-10(class="md:mt-6")
            button.rounded-sm.pdm-cycle.ml-auto.floating-button.opacity-0.transition-opacity.duration-300.ease-in-out.pointer-events-none(class=outline)
                i.emoji.light.pdm-emoji(style="visibility: hidden;")
        div.max-w-2xl.mx-auto.px-3.mb-3
            div.header.flex.items-center.justify-between.flex-col.my-3(class="md:flex-row md:my-6")
                h1.mb-3.title(class="md:mb-0") <i class="emoji dark"></i><i class="emoji light"></i> Perfect Dark Mode
                button.min-w-1.rounded-sm.pdm-toggle.flex.flex-col.items-center(class=outline)
                    div
                        i.emoji.light.pdm-emoji(style="visibility: hidden;")
                        span.ml-1.pdm-label(style="visibility: hidden;")
                    span.text-xs (Click Me)

            div.flex.space-x-1.justify-center(class="md:justify-start")
                a.badge.rounded-sm.overflow-hidden(href='https://www.npmjs.com/package/perfect-dark-mode' target="blank" rel="noopener" class=outline)
                    +badge("npm", version, 35, 45)
                a.badge.rounded-sm.overflow-hidden(href='https://bundlephobia.com/result?p=perfect-dark-mode' target="blank" rel="noopener" class=outline)
                    +badge("size", size, 35, 45)
                a.badge.rounded-sm.overflow-hidden(href='https://codecov.io/gh/DylanVann/perfect-dark-mode' target="blank" rel="noopener" class=outline)
                    +badge("codecov", '100%', 60, 45)
                a.badge.rounded-sm.overflow-hidden(href="https://github.com/DylanVann/perfect-dark-mode" target="blank" rel="noopener" class=outline)
                    +badgeSimple("GitHub")

        div.prose.max-w-2xl.mx-auto.mb-12.px-3
            include:markdown ../packages/perfect-dark-mode/README-features.md

            p
                | Created by
                |
                a.rounded-sm(href="https://twitter.com/atomarranger" target="blank" rel="noopener" class=outline) @atomarranger

        div.flex.flex-row
            div.order-3.flex-1.flex-shrink.w-0.hidden(class="xl:block")
                div.sticky.top-0.p-3.overflow-y-auto.max-h-screen
                    div.border-l.border-gray-100.pl-3.py-3.toc
                        include:markdown-toc ./markdown/docs.md
            div.prose.px-3.pb-10.order-2.min-w-0.mx-auto.max-w-2xl
                include:markdown ./markdown/docs.md

                hr

                - var label = 'block text-gray-700 text-sm font-bold mb-2'
                - var input = 'shadow appearance-none border rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white'

                p.mb-4
                    strong Join my Newsletter
                    br
                    | I'll send you an email when I have something interesting to show.
                form.subscribe.relative
                    div.subscribed.absolute.top-0.bottom-0.left-0.right-0.flex.items-center.justify-center.bg-white.hidden Subscribed!
                    div.content.flex.flex-col.space-y-4
                        div
                            label(for='name' class=label) Name
                            input(type='text' name='name' placeholder="Name" class=input)
                        div
                            label(for='email' class=label) Email
                            input(required='' name='email' type='email' placeholder="Email" class=input)
                        button.min-w-1.rounded-sm.overflow-hidden(type='submit' class=outline) Subscribe
                        a(href='https://twitter.com/atomarranger' target="blank" rel="noopener" class=outline) Or follow me on Twitter for more stuff like this.
            div.order-1.flex-1.flex-shrink.w-0.hidden(class="xl:block")

        script
            include ./components/change-favicon.js
            include ./components/cycle-button.js
            include ./components/emoji.js
            include ./components/label.js
            include ./components/mode.js
            include ./components/reset-button.js
            include ./components/root.js
            include ./components/select.js
            include ./components/syntax-highlight.js
            include ./components/toggle-button.js
            include ./components/top-bar.js
            include ./components/form.js
            include ./components/toc.js
            include ./components/copy-code.js
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-1YYBH15NGE"></script>
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-1YYBH15NGE');
